<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBlog</title>
</head>
<body>

    <header>
        <h2>🚀 Portal DevBlog</h2>
        <a href="/">Início</a> |
        <a href="/sobre/">Sobre</a>
        <hr>
    </header>

    <main>
        {% block content %}
        <!-- AQUI VAI O CONTEÚDO DAS OUTRAS PAGINAS -->
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>© 2026 Desenvolvido pela Turma Python</p>
    </footer>

</body>
</html>