{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

    <h2>
        {% if categoria_atual %}
            Últimas notícias de {{ categoria_atual.nome }}
        {% else %}
            Últimas Notícias de Tecnologia
        {% endif %}
    </h2>
    
    <br> {% for artigo in lista_artigos %}

        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <h3 class="card-title text-success">{{ artigo.titulo }}</h3>
                <h6 class="card-subtitle mb-2 text-muted">Categoria: {{ artigo.categoria.nome }}</h6>

                <p class="card-text">{{ artigo.conteudo|truncatechars:100 }}</p>

                <a href="{% url 'detalhe_artigo' artigo.id %}" class="btn btn-success btn-sm">Ler mais</a>
            </div>
        </div>

    {% empty %}
    
        <p>Nenhuma notícia publicada ainda.</p>
    
    {% endfor %}

{% endblock %}