{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="lapalma-section">
    <h1 class="lapalma-title">SOBRE</h1>
    
    <hr class="lapalma-divider">
    
    <div class="lapalma-grid-top">
        <div class="lapalma-text-small">
            Este é um projeto de Blog com Django que estou desenvolvendo no curso de Python do Senac Tech
        </div>
        <div class="lapalma-text-small">
            Sobre mim: Meu nome é Gustavo, tenho 25 anos, sou Product Designer com 5 anos de experência, gosto de lasanha. Atualmente estou montando uma empresa de vídeomaking com a minha namorada, e buscando projetos para gringa além dos meus freelas atuais.
        </div>
        <div>
        </div>
    </div>

    <div class="lapalma-image-wrapper">
        <!-- Imagem da equipe puxada do diretório static -->
        <img src="{% static 'blog/images/equipe.png' %}" alt="Equipe DevBlog" style="width: 100%; height: auto; display: block; border-radius: 4px;">
    </div>

    <div class="lapalma-footer-text">
        Não tem mais muito o que falar, ainda está em desenvolvimento.
    </div>
</div>
{% endblock %}